.carousel-img {
    height: 300px;
    /* Adjust as needed */
    object-fit: cover;
    border-radius: 15px;
    /* Adjust as needed */
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    /* Adjust as needed */
    margin-bottom: 10px;
}

.carousel-item {
    flex: 0 0 auto;
    width: 100%;
    transition: transform 0.5s;
    transform: scale(0.8);
    /* Adjust as needed */
}

.carousel-item.active {
    transform: scale(1);
}

.custom-image {
    height: 200px; /* Adjust this value as needed */
    object-fit: cover; /* Cover the container */
    width: 100%; /* Full width */
    border-radius: 15px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {

    /* This is the breakpoint for mobile devices */
    .carousel-img {
        height: 200px;
        /* Adjust as needed */
    }
}